@model UserLogin

@{
    Layout = "_login";
}
<div class="login-form">
    <div class="title">Login</div>

    <form asp-action="Login">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="UserName" class="control-label"></label>
            <input asp-for="UserName" class="form-control" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Login" class="btn btn-primary" />
        </div>
    </form>


    @*  <form action="#">
    <div class="input-boxes">
    <div class="input-box">
    <i class="fas fa-envelope"></i>
    <input type="text" placeholder="Enter your email" required>
    </div>
    <div class="input-box">
    <i class="fas fa-lock"></i>
    <input type="password" placeholder="Enter your password" required>
    </div>

    <div class="button input-box">
    <input type="submit" value="Sumbit">
    </div>

    </div>
    </form> *@
</div>